## .NET / C#
bin/
obj/
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/
.idea/
*.suo
*.userprefs
*.pidb
*.booproj
*.svclog
*.visualstate

## Build & Test Results
TestResults/
[Dd]ebug/
[Rr]elease/
*.log
*.tmp
*.mp4
*.wav
*.aac
!web/assets/*.wav
!web/assets/*.mp3
*.png.cache
.cache/

## Node
node_modules/
package-lock.json
web/assets/yt_cache_*
web/assets/yt-test.*

## OS Files
.DS_Store
Thumbs.db
